@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap");

/* Customizações Gerais */
html {
    scroll-behavior: smooth; 
}
body {
  background-color: #1d1f24;
  font-family: "Fira Code", monospace;
  font-size: 16px;
  color: #d0d0d0;
  display: flex;
  flex-direction: column;
  line-height: 1.35;
}
a {
  text-decoration: none;
  color: inherit;
}
a:hover, .form__submit:hover {
  color: #ffffff;
}
img {
  max-width: 100%;
  display: block;
}
h2 {
  font-size: 36px;
  font-weight: 600;
}
h2::before {
  content: "";
  display: inline-block;
  background-image: url(./images/icon/cli-icon.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;

  width: 36px;
  height: 24px;

  margin-right: 12px;
}
.highlight-color {
  color: #fa9742;
}

main section {
  padding-top: 70px;
}

/* Customização do header */
.header {
  position: fixed;
  width: 100%;
  top: 0px;
  z-index: 1;
}
.container {
  max-width: 1224px;
  margin: 0px auto;
  position: relative;
}
.content {
  margin-top: 42px;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 112px;
}

/* Customização do header principal */
.header__content {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
  position: relative;
  padding: 28px 0px 8px;
  background-color: #1d1f24;
}
.header__name {
  font-size: 24px;
  font-weight: 700;
  color: #ffffff;
}
.header__links {
  display: flex;
  align-items: flex-start;
  gap: 32px;
}

/* Customização do cabeçalho lateral de links */
.media-header {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  left: 16px;
  top: 0px;
  gap: 8px;
}
.media-header__line {
  display: block;
  background-color: #fa9742;
  width: 1px;
  height: 33vh;
}
.media-header__links {
  display: grid;
  grid-auto-columns: 1fr;
  gap: 8px;
}
.media {
  display: block;
  width: 32px;
}

/* Customização do Hero */
#hero {
  display: flex;
  gap: 32px;
}
.hero__illustrations {
  flex: 1;
  padding: 0px 100px;
}
.hero__image {
  border-radius: 50%;
  border: 2px solid #fa9742;
}
.hero__content {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.hero__title {
  font-size: 40px;
  font-weight: 600;
}
.hero__contact-button {
  background-color: #282c33;
  font-size: 18px;
  font-weight: 600;
  width: 80px;
  height: auto;
  text-align: center;
  padding: 16px 24px;
  border: 1px solid #fa9742;
  border-radius: 8px;
}

/* Customização da seção Sobre mim */
.about-me__content {
  display: flex;
  gap: 24px;
  flex-direction: column;
  padding: 24px;
  border-radius: 8px;
  background-color: #282c33;
}

/* Customização da seção Experiências */
td,
th {
  text-align: center;
  align-content: center;
  padding: 12px 10px;
}
.alinhar__meio {
  display: flex;
  justify-content: center;
}
.experiences__content {
  display: flex;
  flex-direction: column;
  gap: 24px;
  background-color: #282c33;
  border-radius: 8px;
  padding: 24px;
}
.experiences__titles {
  font-size: 24px;
  font-weight: 500;
}
.experiences__logo {
  width: 75px;
}
tr.highlight td.spacer {
  border-top: 2px solid #1d1f24;
  border-bottom: 2px solid #1d1f24;
}

/* Customização da seção Idiomas */
.languages__content {
  display: flex;
  gap: 24px;
  flex-direction: column;
  width: 1176px;
  padding: 24px;
  border-radius: 8px;
  background-color: #282c33;
}
.languages__items {
  align-self: flex-start;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.languages__progress-bar {
  width: 100%;
  height: 6px;
  background-color: #929292;
  border-radius: 20px;
  border: 0.1px solid #d0d0d0;
  display: flex;
}
.languages__progress-bar::before {
  content: "";
  background-color: #fa9742;
  border-radius: 20px;
}
.lang-pt::before {
  width: 100%;
}
.lang-en::before {
  width: 70%;
}
.lang-es::before {
  width: 50%;
}

/* Customização da seção Ranking de Empresas */
.company-ranking__items {
  display: flex;
  gap: 24px;
  flex-direction: column;
  padding: 24px;
  width: 1176px;
  border-radius: 8px;
  background-color: #282c33;
}
ol {
  list-style: number;
  list-style-position: inside;
}
.company-ranking__item {
  padding: 8px 0px;
  font-size: 20px;
}
.company-ranking__image {
  width: 36px;
  display: inline;
  padding-right: 10px;
}

/* Customização da seção Contatos */
#contact {
  display: flex;
  gap: 32px;
  padding: 24px;
  border-radius: 8px;
  background-color: #282c33;
}
.contact__section {
  flex: 1;
  display: flex;
  justify-content: space-between;
  width: 100%;
  flex-direction: column;
}
.contact__header {
  font-size: 36px;
  font-weight: 600;
}
.contact__description {
  font-size: 16px;
}
.contact__links {
  display: flex;
  gap: 8px;
  flex-direction: column;
}
.contact__link {
  align-self: flex-start;
  display: flex;
  gap: 8px;
  align-items: center;

}

/* Customização do formulário da seção Contato*/

.contact__form {
  flex: 1;
}
.form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
}
.form__group {
  display: flex;
  flex-direction: column;
}
.form__input {
  height: 24px;
  padding: 3px 5px;
  color: #d0d0d0;
  font-family: inherit;
  font-size: 14px;
  font-weight: 500;
  background-color: #1d1f24;
  border: 1px solid #fa9742;
  border-radius: 4px;
  caret-color: #fa9742;
}
.form__textarea {
  height: 200px;
  resize: none;
  padding: 3px 5px;
  color: #d0d0d0;
  font-family: inherit;
  font-size: 14px;
  font-weight: 500;
  
  border: 1px solid #fa9742;
  border-radius: 4px;
  caret-color: #fa9742;
  background-color: #1d1f24;
}
.form__input::placeholder,
.form__textarea::placeholder {
  color: #616161;
}
.form__submit {
  height: 35px;
  width: 85px;
  border-radius: 4px;
  border: 0;
  color: #d0d0d0;
  font-family: inherit;
  font-size: 14px;
  font-weight: 500;
  background-color: #1d1f24;
  border: 1px solid #fa9742;
  cursor: pointer;
}

/* Customização do Rodapé */
.footer {
  width: 100%;
  border-top: 1px solid #fa9742;
  padding-top: 32px;
  margin-top: 112px;
  margin-bottom: 32px;
}
.footer__copyright {
  text-align: center;
}
